/* ADD YOUR STYLES HERE */
/*6 starts here*/
.horizontal-boxes1 img{
  padding: 34px;
}

.horizontal-boxes2 img,.horizontal-boxes2 p,.horizontal-boxes2 ol{
  display: inline-block;
  padding: 26px;
  vertical-align: top;
}
/*7 starts here*/
.vertical-boxes1 img{
padding-top:75px;
padding-bottom:70px;
}

.vertical-boxes2{
display: inline-block;
padding-top: 60px;
}

/*8 starts here*/
.horizontal-list li{
display:inline;
float:left;
}

/*9 starts here*/
.btn{
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  background: #ED828A;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
}
.btn-large{
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-med{
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  }
.btn-small{
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
}
/*10 starts here*/
.nav-bar{
  display: inline-block;
  background: #ED828A;
  padding: 10px;
  border-radius: 5px;
}
.nav-bar li{
  display:inline-block;
}

.nav-bar a{
  display:inline-block;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}

.nav-bar a:hover{
  color: blue;
}
/*11 starts here*/
.pagination, .pagination a{
  color: #ED828A;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;

}
.pagination li{
  display: inline-block;
  border-bottom: 1px solid #ED828A;
  padding-bottom: 5px;
}

.pagination li:last-child, .pagination li:first-child{
  border-bottom: 0px;
  }
.pagination span{
  color: #acacac;
  }
.pagination li:nth-child(5n) {
    border-bottom-color: #acacac;
    width: 25px;
    text-align: center;
    }
/*12 starts here*/
.floated-image{
  float:left;
  padding-right: 10px;
}
.floated-image img:last-child{
  padding-left:40px;
  margin-left: 40px;
}
.parent-comment p{
  padding-bottom:40px;
}
.child-comment{
  padding-bottom: 40px;
}
.parent-comment-w-children{
  overflow: hidden;
}
/*13 starts here*/
.tabs{
  padding:0 0 0 5px;

}
.active,.singleTab{
  position: relative;
  display:inline-block;
  border: solid gray;
  border-width: 1px 1px 0 1px;
  padding: 2px 5px 0px 5px;
  margin: 2px 5px 0px 2px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.tabs a{
  text-decoration: none;
  color: blue;
}

.tab-content{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;


}
.active {
  border-bottom: 1px solid white;
  margin: 2px 5px -1px 2px;
}
